{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
